/* 
Color pallete. This section defines variables for the color pallete,
so that we can refer to particular colors by name instead of hexadecimal values.
This is applied to the 'root' psuedo-element, which just means that these color
variables are available to be used anywhere in our html document
*/
:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color1: #d1c6ad; 
    --color2: #BBADA0;  
    --color3: #A1A69E;
    --color4: #797596;
    --color5: #0B1D51;  
    /* add in other color variables for color pallete */
}

/* Defines the main container size, we are limiting to 72em max and centring in the viewport */
.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--white-font);
    /* TODO: set the main font color */
}

/* Here we define the aspects of style of our elements other than their grid layout */
.banner {
    /* TODO: banner styling */
    background-color: var(--color4); 
    padding: 1em; 
}

.banner-title {
    font-size: 3em;
    /* TODO: banner main title font styling */
}

.banner-subtitle {
    font-size: 2.25em;
    padding-left: 4px;
    padding-top: 2px; 
    /* TODO: banner subtitle font styling */
}

.topic-card {
        /* TODO: style the card as a column based flexbox with rounded corners */
    display: flex; 
    flex-direction: column;
    border-radius: 1em;
    height: 100%;
    overflow: hidden;
}

/* this is the equivalent of setting the image rectangle to "Fill Container" in Figma */ 
.topic-card-image {
    width: 100%;
    object-fit: cover;
}

.topic-card-blurb {
    /* TODO: style the blurb with padding */
    background-color: var(--color3);
    padding: 0.5em;
    height: 100%;
}


/* now we create names for the grid areas for specific elements */
#banner {
    grid-area: ban;
    /* TODO: give the grid-area a name */
}

#topic-card1 {
    /* TODO: give the grid-area a name */
    grid-area: ca1; 
}

#topic-card2 {
    grid-area: ca2;
    /* TODO: give the grid-area a name */
}

#topic-card3 {
    grid-area: ca3;
    /* TODO: give the grid-area a name */
}

#topic-card4 {
    grid-area: ca4;
}

#topic-card5 {
    grid-area: ca5;
}

#topic-card6 {
    grid-area: ca6;
}

#topic-card7 {
    grid-area: ca7;
}

#topic-card8 {
    grid-area: ca8;
}


/* 
Responsive Layout breakpoints. We start 'mobile-first' i.e. we define how the layout should look
for the smallest screen sizes. In this case we want a single column that spans the main container.
Because this CSS definition comes first, it will apply by default. Then we override it below with 
media queries for progressively bigger screen widths
*/

.main-container {
    display: grid;
    column-gap: 1em;;
}


.main-container {
    /* TODO: setup the grid-template for mobile phone layout */
    grid-template:
    "ban ban ban ban" minmax(6em, auto)
    ".    .   .   . "  minmax(2em, auto)
    "ca1 ca1 ca1 ca1" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca2 ca2 ca2 ca2" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca3 ca3 ca3 ca3" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca4 ca4 ca4 ca4" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca5 ca5 ca5 ca5" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca6 ca6 ca6 ca6" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca7 ca7 ca7 ca7" minmax(30em, auto)
    ".    .   .   . " minmax(2em, auto)
    "ca8 ca8 ca8 ca8" minmax(30em, auto)
}

@media (min-width: 50em) {
    .main-container {
    grid-template:
    "ban ban ban ban ban ban ban ban" minmax(8em, auto)
    ".    .   .   .   .   .   .   . " minmax(2em, auto)
    ".    .   ca1 ca1 ca1 ca1 .   . " minmax(30em, auto)
    ".    .   .   .   .   .   .   . " minmax(2em, auto)
    "ca2 ca2 ca2 ca2 ca3 ca3 ca3 ca3" minmax(30em,auto)
    ".    .   .   .   .   .   .   . " minmax(2em, auto)
    "ca4 ca4 ca4 ca4 ca5 ca5 ca5 ca5" minmax(30em,auto)
    ".    .   .   .   .   .   .   . " minmax(2em, auto)
    "ca6 ca6 ca6 ca6 ca7 ca7 ca7 ca7" minmax(2em, auto)
    ".    .   .   .   .   .   .   . " minmax(2em, auto)
    ".    .  ca8 ca8 ca8 ca8  .   . " minmax(30em, auto)


       /* TODO: setup the grid-template for tablet layout */
    }
}


@media (min-width: 75em) {
    .main-container {
        grid-template:
        "ban ban ban ban ban ban ban ban ban ban ban ban" minmax(8em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .    .   .   .  ca1 ca1 ca1 ca1 .    .   .   ." minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        "ca2 ca2 ca2 ca2 ca3 ca3 ca3 ca3 ca4 ca4 ca4 ca4" minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        "ca5 ca5 ca5 ca5 ca6 ca6 ca6 ca6 ca7 ca7 ca7 ca7" minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .   .   .   .  ca8 ca8 ca8 ca8  .   .   .   . " minmax(32em, auto)
    
        /* TODO: setup the grid-template for desktop layout */
    }
}

  